{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static' , filename='css/index.css')}}">
{% endblock %}
{%block content%}
<div class="container">
  <div class="card">
    <div class="card-title">
      <h1>{{blog.title}}</h1>
    </div> 
    <div class="card-body">
      <h2>{{blog.content}}</h2>
      <footer class="blockquote-footer"><cite title="Source Title"> by {{blog.user.username}}</cite></footer>
    </div>    
  </div> 
  <h3>Comments</h3>
    <hr>
    {{ wtf.quick_form(comment_form) }}
    {%for comment in comments%}
    <h3>{{comment.user.username}}: {{comment.content}}</h3>
    {%endfor%}
</div>    
{% endblock %}    